@media (max-width: 768px) {
    header{
        width: 500px;
    }
    .img2{
        display: none;
    }
    .main-text p{
        display: none;
        margin-left: 300px;
    }
    .dd2{
        transform: none;
        margin-right: 100px;
    }
}
@media (max-width: 320px) {
    .dd2{
        transform: none;
    }
}
.dd2 img{
    padding-left: 10px;
    padding-right: 10px;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('img/фон.jpeg');
    background-size: cover; /* размер одного повторяющегося изображения */
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    float: left;
    color: #f5f5f5;
    font-family: Lucida Console, Monaco, monospace;
  }
  .nav-link{
  color: #f5f5f5;
  align-items: center;
  }
  h1{
    color: #f5f5f5;
    font-size: 50px;

  }
  .col-3{
    color: #f5f5f5;
  }
  .col-3 span{
    color: darkgrey;
  }
  .container {
    padding: 30px;
}
label{
    color: #f5f5f5;
}
h2  {
    margin-bottom: 20px;
    color: #f5f5f5;
}
h3{
    color: #f5f5f5;
}
p {
    margin-bottom: 10px;
    color: #f5f5f5;
 
}
.form-label{
    color: #f5f5f5;
}

.form-label {
    margin-bottom: 5px;
}

.form-control {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}
table{
    background-color: rgb(113, 182, 214)!important;
    --bs-table-bg:none!important;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}
.card {
    border-radius: 0.5rem;
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e7e9eb;
}
.card-text{
    color: black;
}
.card-body {
    padding: 1.5rem;
}
.card-body{
    color: black;
}
.table {
    border-collapse: collapse;
    margin-bottom: 0;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Стилизация кнопки */
.btn-primary {
    display: block;
    margin: 0 auto;
}